<div class="search-form-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-search-index">

                <form class="row" method="get" action="{{ url("all_products_list") }}">

                    <div class="col-sm-3 col-xs-6 no-padding-right-xs">
                        <div class="form-group-search">
                            <input type="text" class="form-control" id="search-keyword" value="{% if q is defined %}{{ q }}{% endif %}" name="q" placeholder="{% trans %}Search by keyword{% endtrans %}">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 no-padding-right-xs">
                        <div class="form-group-search">
                            <select class="form-control" name="category" id="category_id">
                                <option value="0">{% trans %}Select Category{% endtrans %}</option>
                                {% for categoryLine in app_categories %}
                                    <option {% if category is defined and category==categoryLine %}selected="selected"{% endif %} value="{{ categoryLine.categoryId }}">{{ categoryLine }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 no-padding-right-xs">
                        <div class="form-group-search">
                            <select class="form-control" name="destination">
                                <option value="">{% trans %}Select Destination{% endtrans %}</option>
                                {% for destinationLine in app_destinations %}
                                    <option {% if destination is defined and destination==destinationLine %}selected="selected"{% endif %} value="{{ destinationLine.destinationId }}">{{ destinationLine }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <button type="submit" class="btn btn-success large-btn btn-block">{% trans %}Search{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-xs-4">

    </div>
</div>