{% extends 'AdminBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>
                {% trans from 'AdminBundle' %}Product creation{% endtrans %}
                <small>{% trans from 'AdminBundle' %}Product creation{% endtrans %}</small>
            </h3>
        </div>

    </div>
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ url('admin_default_index') }}">{% trans from 'AdminBundle' %}Home{% endtrans %}</a></li>
            <li class="active">{% trans from 'AdminBundle' %}Products list{% endtrans %}</li>
            <li class="active">{% trans from 'AdminBundle' %}Product creation{% endtrans %}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
            	<div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" value="{% trans from 'AdminBundle' %}Create{% endtrans %}" />
                    {{ form_end(form) }}




            	</div>
            </div>
            <div class="panel panel-default">
            	<div class="panel-body">
                    <a href="{{ path('product_index') }}" class="btn btn-default">Back to the list</a>
            	</div>
            </div>
        </div>
    </div>

{% endblock %}
