{% extends 'admin/base.html.twig' %}

{% block title %}Bookings List{% endblock %}
{% block page_title %}Bookings List{% endblock %}
{% block page_sub_title %}Bookings List{% endblock %}

{% block body %}
<div class="row gy-5 g-xl-8">
    <div class="col-xxl-12">
        <div class="card card-xl-stretch mb-5 mb-xl-8">
            <div class="card-header">



                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black" />
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black" />
													</svg>
												</span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Bookings" />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
{#                        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">#}
{#                            <!--begin::Filter-->#}
{#                            <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">#}
{#                                <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->#}
{#                                <span class="svg-icon svg-icon-2">#}
{#													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">#}
{#														<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="black" />#}
{#													</svg>#}
{#												</span>#}
{#                                <!--end::Svg Icon-->Filter</button>#}
{#                        </div>#}

                    <!--begin::Menu-->
                    <a href="{{ path('booking_new') }}" type="button" class="btn btn-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="fa fa-plus"></i> {% trans %}New{% endtrans %}
                    </a>
                </div>
            </div>
            <div class="card-body pt-0">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-2" id="datatable-booking">
                    <!--begin::Table head-->
                    <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                        <th>{% trans %}Ref{% endtrans %}</th>
                        <th>{% trans %}Client{% endtrans %}</th>
                        <th>{% trans %}Date Create{% endtrans %}</th>
                        <th>{% trans %}Date Start{% endtrans %}</th>
                        <th>{% trans %}Date End{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Pax{% endtrans %}</th>
                        <th class="text-end min-w-70px">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="text-gray-600 fw-bold">
                    {% for booking in bookings %}
                        <tr>
                            <!--begin::Checkbox-->
                            <td>{{ booking.id }}</td>
                            <td>
                                <div class="d-flex flex-column">
                                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="text-gray-800 text-hover-primary mb-1">{{ booking.client }}</a>
                                    <span><a href="{{ path('booking_show', {'id': booking.id}) }}">{{ booking.clientName }}</a></span>
                                </div>
                            </td>
                            <td>{{ booking.dateCreate ? booking.dateCreate|date('d/m H:i') : '' }}</td>
                            <td>{{ booking.dateStart ? booking.dateStart|date('Y-m-d') : '' }}</td>
                            <td>{{ booking.dateEnd ? booking.dateEnd|date('Y-m-d') : '' }}</td>
                            <td>
                                <div class="badge {{ booking.statusClass }}">{{ booking.statusString|trans }}</div>
                            </td>

                            <td>
                                <div class="d-flex flex-column">
                                    <b>{% trans %}Pax{% endtrans %} : {{ booking.pax }}</b>
                                    <small>
                                        {% trans %}Adults{% endtrans %} : {{ booking.numberOfAdults }} / {% trans %}Children{% endtrans %} : {{ booking.numberOfChildren }}
                                    </small>
                                </div>



                            </td>

                            <td class="text-end">
                                <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                    <span class="svg-icon svg-icon-5 m-0">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
															</svg>
														</span>
                                    <!--end::Svg Icon--></a>
                                <!--begin::Menu-->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{{ path('booking_show', {'id': booking.id}) }}" class="menu-link px-3">{% trans %}Show{% endtrans %}</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="menu-link px-3">{% trans %}Edit{% endtrans %}</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="{{ path('booking_delete', {'id': booking.id}) }}" onclick="return confirm('Conform !')" class="menu-link px-3">{% trans %}Delete{% endtrans %}</a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                            </td>
                            <!--end::Action=-->
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{#    #}
{#            <div class="card-body pt0">#}
{#                <div>#}
{#                    <!--begin::Table-->#}
{#                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Ref</th>#}
{#                <th>Date Create</th>#}
{#                <th>Date Start</th>#}
{#                <th>Date End</th>#}
{#                <th>Client</th>#}
{#                <th>Client Name</th>#}
{#                <th>Pax</th>#}
{#                <th>NumberOfPeople</th>#}
{#                <th>NumberOfChildren</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for booking in bookings %}#}
{#            <tr>#}
{#                <td>{{ booking.id }}</td>#}
{#                <td>{{ booking.dateCreate ? booking.dateCreate|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ booking.dateStart ? booking.dateStart|date('Y-m-d') : '' }}</td>#}
{#                <td>{{ booking.dateEnd ? booking.dateEnd|date('Y-m-d') : '' }}</td>#}
{#                <td>{{ booking.client }}</td>#}
{#                <td>{{ booking.clientName }}</td>#}
{#                <td>{{ booking.pax }}</td>#}
{#                <td>{{ booking.numberOfPeople }}</td>#}
{#                <td>{{ booking.numberOfChildren }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('booking_show', {'id': booking.id}) }}">{% trans %}show{% endtrans %}</a>#}
{#                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">{% trans %}edit{% endtrans %}</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="10">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/apps/subscriptions/list/export.js') }}"></script>
    <script src="{{ asset('assets/js/custom/apps/subscriptions/list/list.js') }}"></script>
{% endblock %}
