{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <h1>Destionation</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Destionationid</th>
                <td>{{ destination.destinationId }}</td>
            </tr>
            <tr>
                <th>Destionationname</th>
                <td>{{ destination.destinationName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('destination_index') }}" class="btn btn-default">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('destination_edit', { 'id': destination.destinationId }) }}" class="btn btn-primary">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
