{% extends '@App/base.html.twig' %}
{% if page is defined and page.meta %}
    {% block metas %}
        <title>{{ page.meta.metaTitle }}</title>
        <meta name="description" content="{{ page.meta.metaDescription }}">
        <meta name="keywords" content="{{ page.meta.metaKeywords }}">
        {{ page.meta.metaKeywords|raw }}
    {% endblock %}
{% endif %}
{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="panel panel-default">
                    {% include "@App/inc/form-search-transport.html.twig" with {v2:true} %}
                </div>
            </div>
            <div class="col-sm-12 col-md-4 no-padding-left-sm">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ app_settings.application_name }}</h3>
                        <address>
                            {{ app_settings.application_address|nl2br }}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

